@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Patua+One&display=swap');

body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-image: linear-gradient(120deg, #ffffff, #f6f4f4);
    overflow-y: hidden;
}

.slider-wrapper {
    position: relative;
}

.slider {
    width: clamp(320px, 75vw, 800px);
    height: clamp(240px, 75vh, 600px);
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: clamp(320px, 75vw, 800px);;
    border: 15px solid rgba(255, 255, 255, 0.234);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slide {
    scroll-snap-align: start;
    width: clamp(320px, 75vw, 800px);
    height: clamp(320px, 75vh, 800px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dots a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    cursor: pointer;
}
.dots a:hover {
    opacity: 1;
}
.caption {
    display: block;
    margin-top: 25px;
    color: #999;
    letter-spacing: 0.5px;
}

h1{
    font-size: 29pt;
    color: rgb(62, 62, 62);
    font-family: 'Cardo', serif;
}
