body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
}

.slider {
    width: clamp(320px, 75vw, 800px);
    height: clamp(240px, 75vh, 600px);
    display: grid;
    grid-auto-flow: column;
    max-width: clamp(320px, 75vw, 800px);;
    border: 5px solid rgba(255, 255, 255, 0.234);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.25);
}
